{% extends "virslapa.html" %}

{% block main %}
<section>
    <h2 style="text-align: center">Bioloģijas darbs</h2>
    <p  style="text-align: center"><i>Dati</i></p>
    <p style="text-align: center">Šeit var atrast bildes un datus par labaratorijas darbu ko veicām 20. februārī. 
      Sadaļā dati, jūs varēsiet atrast datus ko ieguvām veicot darbu, un sadaļā bildes atradīsiet attēlus ar zirņiem pēc darba.
      Pētnieciskais darbs 
      Minerālvielu ietekme uz zirņu dīgstu augšanu
    </br>
  </br>
      Pētāmā problēma:
      Kā dažādas vielas ietekmē zirņu dīkstu augšanu?
    </br>
    </br>
      Hipotēze:
      Zirņi vislabāk izdīgs KCL šķīdumā, jo tā ir neitrāla vide.
    </br>
    </br>
      Lielumi:
      Neatkarīgais - barības šķīdumā esošās vielas (KCl, NH4NO3, Ca(H2PO4)2, "VITO"2)
    </br>
    </br>
      Atkarīgais - saknes garums, stumbra garums
    </br>
    </br>
      Fiksētie - gaisa temperatūra, laiks, destilēts ūdens, 1gr. vielas
    </br>
    </br>
      Temperatūra visās mēģenēs ir 20℃</p>
  </section>

  {% endblock %}