<!DOCTYPE html>
<!-- https://www.html5webtemplates.co.uk/templates.html
shadowplay_1 -->


<html>

<head>
	<title>swag</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/virslapa.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
	</script>


</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark w-100 p-3">
		<a class="navbar-brand" href="/">
			<img src="https://i.imgur.com/RXSeaYA.jpg" width="50" height="50" class="d-inline-block align-left" alt="yo">
  </a> 

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <div class="dropdown show">
          <a style="font-size: 17px;" class="nav-item nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Darbs ▼
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/saturs">Rezultāti</a>
            <a class="dropdown-item" href="/bilde">Attēli</a>
          </div>
        </div>
          <a href="/about" style="font-size: 17px" class="nav-item nav-link ">Kontakti</a>
          <a href="/chat" style="font-size: 17px" class="nav-item nav-link">Čats</a>
          <a href="/posts" style="font-size: 17px" class="nav-item nav-link">Raksti</a>


      </div>
          
    </div> 
</nav>
<!-- nav bar -->


<section>
  <h2 style="text-align: center">Bioloģijas darbs</h2>
  <p  style="text-align: center"><i>Dati</i></p>
  <p style="text-align: center">Šeit var atrast bildes un datus par labaratorijas darbu ko veicām 20. februārī. Sadaļā dati, jūs varēsiet atrast datus ko ieguvām veicot darbu, un sadaļā bildes atradīsiet attēlus ar zirņiem pēc darba.hdfkjlvbsxlvjbzxdnvzx;lckvnzxkl;bvklzxbcjkl;zxjcnb.,lzxncbv;klcjxzbg;lkjzhxcbnxzocnblz;xcnkbl;kzxncb;lkjzxclb</p>
</section>

			</header>
</body>

</html>